{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/policy.css' %}">
{% endblock extra_css %}


{% block content %}
<div class="policy">
    <p class="title">
    Envíos.
    </p>
    <p>
    Los envíos toman aproximadamente 1-2 días hábiles dentro de la CDMX.
    </p>
    <br>
    <br>
    <p>
    Por ahora solo hacemos entregas en la Ciudad de México, pero pronto tendremos más zonas de entrega.
    </p>
    <p>
    Gracias por su comprensión.
    </p>
</div>
{% endblock content %}